Django==3.1.4
gunicorn==20.0.4
django-heroku==0.3.1
whitenoise==5.2.0
dj-database-url==0.5.0
django-compressor==2.4
django-crispy-forms==1.10.0
asgiref
autopep8
pycodestyle
pytz
sqlparse
Unipath
python-decouple
