{% load i18n static %}<!DOCTYPE html>
{% load static %}
{% load compress %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Get paid to view ads. As a member, you'll get paid for each click that you generate by browsing our sponsor's ads. Get a bonus every day.">
    <meta name="keywords" content="Earnings on the internet, View ads, Earn money from survey, Get paid to view ads">
    <meta name="author" content="ArgonClick">
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link href="{% static 'img/favicon.png' %}" rel="icon" type="image/png">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% compress css %}
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}" charset="utf-8">
    <!-- Icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="https://appsrv1-147a1.kxcdn.com/black-dashboard/css/nucleo-icons.min.css" type="text/css" charset="utf-8">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/argon.css' %}" charset="utf-8">
    {% endcompress %}
</head>
{% load i18n %}

<body>
<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--pinned headroom--not-bottom headroom--top">
    <div class="container"> <a class="navbar-brand mr-lg-5" href="{% url 'home_page' %}"> <img src="{% static 'img/white.png' %}" alt="brand"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand"> <a href="./"> <img src="{% static 'img/blue.png' %}" alt="brand"> </a> </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"> <span></span> <span></span> </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown"> 
              <a href="{% url 'home_page' %}" class="nav-link"> <i class="fa fa-book d-lg-none"></i> <span class="nav-link-inner--text">Home</span> </a> 
            </li>
          <li class="nav-item dropdown"> 
              <a href="{% url 'stats_page' %}" class="nav-link"> <i class="fa fa-book d-lg-none"></i> <span class="nav-link-inner--text">Statistics</span> </a> 
            </li>
          <li class="nav-item dropdown"> 
              <a href="{% url 'contacts_page' %}" class="nav-link"> <i class="fa fa-book d-lg-none"></i> <span class="nav-link-inner--text">Contacts</span> </a> 
            </li>
        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            {% if request.user.is_authenticated %}
                <a href="/account" class="btn btn-primary btn-icon"> <span class="btn-inner--icon"> <i class="fa fa-user"></i> </span> <span class="nav-link-inner--text">Account</span> </a> 
            {% else %}
                <a href="{% url 'login_page' %}" class="btn btn-success btn-icon"> <span class="btn-inner--icon"> <i class="fa fa-sign-in mr-2"></i> </span> <span class="nav-link-inner--text">Login</span> </a>
                <a href="{% url 'signup_page' %}" class="btn btn-info btn-icon"> <span class="btn-inner--icon"> <i class="fa fa-edit mr-2"></i> </span> <span class="nav-link-inner--text">Register</span> </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="position-relative"> 
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default"> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> </div>
             <div class="row mt-3">
            <div class="col-lg-12 text-center">
        	<iframe data-aa="1328909" src="//ad.a-ads.com/1328909?size=468x60" scrolling="no" style="width:468px; height:60px; border:0px; padding:0; overflow:hidden" allowtransparency="true" tenr67fk0=""></iframe>
		    <iframe data-aa="1328909" src="//ad.a-ads.com/1328909?size=468x60" scrolling="no" style="width:468px; height:60px; border:0px; padding:0; overflow:hidden" allowtransparency="true" tenr67fk0=""></iframe>
			</div>
          </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">GET PAID TO VIEW ADS!</h1>
              <p class="lead  text-white">As a member, you'll get paid for each click that you generate by browsing our sponsor's ads.</p>
            {% if request.user.is_authenticated %}
              <div class="btn-wrapper"> 
                  <a href="{% url 'viewads_page' %}" class="btn btn-success btn-icon mb-3 mb-sm-0"> <span class="btn-inner--icon"><i class="fa fa-eye"></i></span> <span class="btn-inner--text">View Ads</span> 
                                  </a> <a href="{% url 'about_page' %}" class="btn btn-white btn-icon mb-3 mb-sm-0"> <span class="btn-inner--icon"><i class="fa fa-info-circle"></i></span> <span class="btn-inner--text">About Us</span> </a> </div>
            {% else %}
              <div class="btn-wrapper"> 
                                <a href="{% url 'signup_page' %}" class="btn btn-info btn-icon mb-3 mb-sm-0"> <span class="btn-inner--icon"><i class="fa fa-edit"></i></span> <span class="btn-inner--text">Free Signup</span> 
                                </a> <a href="{% url 'about_page' %}" class="btn btn-white btn-icon mb-3 mb-sm-0"> <span class="btn-inner--icon"><i class="fa fa-info-circle"></i></span> <span class="btn-inner--text">About Us</span> </a> </div>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation --> 
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4"> <i class="fa fa-user-o"></i> </div>
                  <div class="icon-shape"><p class="h4 text-info font-weight-bold">{{count}}</p></div>
                  <h6 class="text-primary text-uppercase">Registered members</h6>
                      <hr>
                  <p class="fa fa-star-half-o description"> Earn up to $0.04 per click.</p>
                  <p class="fa fa-star-half-o description"> Earn up to $0.01 per referral click.</p>
                  <p class="fa fa-star-half-o description "> Minimum cashout only $0.02.</p>
                  <p class="fa fa-star-half-o description "> 24/7 Professional Support.</p>
                   </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4"> <i class="fa fa-usd"></i> </div>
                      <div class="icon-shape"><p class="h4 text-info font-weight-bold">$38917.34 </p></div>
                  <h6 class="text-success text-uppercase">Paid to our members</h6>
                     <hr>
                   <p class="fa fa-star-half-o description"> Cheap PTC advertisments.</p>
                     <p class="fa fa-star-half-o description"> Add your rotation plan instantly.</p>
                     <p class="fa fa-star-half-o description"> Choice of multiple ads packs.</p>
                     <p class="fa fa-star-half-o description"> Anti-Cheat protection.</p>         
                   </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4"> <i class="fa fa-calendar"></i> </div>
                  <div class="icon-shape"><p class="h4 text-info font-weight-bold">{{days}}</p></div>
                  <h6 class="text-warning text-uppercase">ONLINE DAYS</h6>
                     <hr>
                   <p class="fa fa-star-half-o description"> Powerful Dedicated Server.</p>   
                      <p class="fa fa-star-half-o description"> SSL, DDOS and Cloudflare Protection.</p>   
                      <p class="fa fa-star-half-o description"> 100% Uptime Guaranteed.</p>   
                      <p class="fa fa-star-half-o description"> Secure environment.</p>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg mt--100">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2"> <img src="{% static 'img/promo-1.png' %}" class="img-fluid floating" alt="image"> </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5"> <i class="tim-icons icon-atom"></i> </div>
            <h3>Main benefits</h3>
            <p>As a Member you get paid just for browsing our 
advertisers websites. As an Advertiser you have many options at very 
affordable rates.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3"> <i class="tim-icons icon-money-coins"></i> </div>
                  </div>
                  <div>
                    <h6 class="mb-0">No need for investment to get payouts.</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3"> <i class="fa fa-money"></i> </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Payment options Perfect Money and Payeer.</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3"> <i class="tim-icons icon-satisfied"></i> </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Super friendly support team</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

 <div class="col-lg-12 text-center">
 </div> 
 
<footer class="footer mt-4">
 
  <div class="container">
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright"> © 2020 <a href="{% url 'home_page' %}">ArgonClick</a></div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item"> <a href="{% url 'terms_page' %}" class="nav-link">Terms</a> </li>
            <li class="nav-item"> <a href="{% url 'about_page' %}" class="nav-link">About Us</a> </li>
          <li class="nav-item"> <a href="{% url 'contacts_page' %}" class="nav-link">Contacts</a> </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% compress js %}
<script src="{% static 'frontend/jquery_002.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'frontend/popper.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'frontend/bootstrap.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'frontend/headroom.js' %}" type="text/javascript" charset="utf-8"></script>

<script src="{% static 'frontend/argon.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'frontend/bootstrap-notify.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'frontend/bootstrap-notify_002.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'frontend/apppost.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'frontend/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress %}

</body></html>
