{% load i18n static %}<!DOCTYPE html>
{% load static %}
{% load compress %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Get paid to view ads. As a member, you'll get paid for each click that you generate by browsing our sponsor's ads. Get a bonus every day.">
    <meta name="keywords" content="Earnings on the internet, View ads, Earn money from survey, Get paid to view ads">
    <meta name="author" content="ArgonClick">
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link href="{% static 'img/favicon.png' %}" rel="icon" type="image/png">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% compress css %}
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}" charset="utf-8">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="https://appsrv1-147a1.kxcdn.com/black-dashboard/css/nucleo-icons.min.css" type="text/css" charset="utf-8">
    <!-- CSS Files-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/argon-dashboard.css' %}" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}" charset="utf-8">
    {% endcompress %}
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'frontend/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
</head>
{% load i18n %}

<body class="body">
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid"> 
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <!-- Brand --> 
    <a class="navbar-brand pt-0" href="{% url 'home_page' %}"> <img src="{% static 'img/blue.png' %}" class="navbar-brand-img" alt="..."> </a> 
    <!-- User -->
    <ul class="nav align-items-center d-md-none">
      <li class="nav-item dropdown"> <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="media align-items-center"> <span class="avatar avatar-sm rounded-circle"> <img alt="Image placeholder" src="{% static 'img/react.jpg' %}"> </span> </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>
          <a href="{% url 'account_page' %}" class="dropdown-item"> <i class="fa fa-user"></i> <span>My profile</span> </a> <a href="{% url 'settings_page' %}" class="dropdown-item"> <i class="fa fa-cog"></i> <span>Settings</span> </a> <a href="{% url 'stats_page' %}" class="dropdown-item"> <i class="tim-icons icon-calendar-grid-58"></i> <span>Statistics</span> </a> <a href="{% url 'contacts_page' %}" class="dropdown-item"> <i class="tim-icons icon-support-16"></i> <span>Support</span> </a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'exit_page' %}" class="dropdown-item"> <i class="fas fa-running"></i> <span>Logout</span> </a> </div>
      </li>
    </ul>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main"> 
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand"> <a href="{% url 'home_page' %}"> <img src="{% static 'img/blue.png' %}"> </a> </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav"> <span></span> <span></span> </button>
          </div>
        </div>
      </div>
      <!-- Form --> 
      
      <!-- Navigation -->
        <hr class="my--2">
      <ul id="wallet-shopping" class="navbar-nav">
          
           <div class="text-center mt-4" id="balancediv">
                    <h3><i class="fas fa-wallet"></i> Balance</h3>
                    <div class="h3 font-weight-bold text-primary mt--2" id="balance"> <i class="fas fa-coins"></i>  {{ profile.balance|floatformat:2 }}</div>
                  </div>
          
             <div class="text-center mt-2" id="pbdiv">
                    <h3><i class="fas fa-shopping-cart"></i> Purchase balance</h3>
                    <div class="h3 font-weight-bold text-primary mt--2" id="pb"> <i class="fas fa-coins"></i>  {{ profile.purchase_balance|floatformat:2  }}</div>
             </div>
      </ul>
           <hr class="my-1">
      <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="{% url 'account_page' %}"> <i class="fa fa-tv text-primary"></i> Dashboard </a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'insert_page' %}"> <i class="fa fa-plus-square text-success"></i> Add funds </a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'payment_page' %}"> <i class="fa fa-minus-square text-red"></i> Withdraw </a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'exchange_page' %}"> <i class="fas fa-exchange-alt text-info"></i> Exchanger </a> </li>
        <li class="nav-item"> <a class="nav-link active" href="{% url 'plans_page' %}"> <i class="fa fa-shopping-bag text-warning"></i> Plans </a> </li>
      </ul>
      <hr class="my-1">
      <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="{% url 'viewads_page' %}"> <i class="fa fa-eye"></i> View Ads </a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'viewads_add_page' %}"> <i class="fa fa-forward"></i> Advertiser Panel </a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'referrals_page' %}"> <i class="fa fa-users"></i> My referrals </a> </li>
      </ul>
      <hr class="my-1">
      <ul class="navbar-nav">
        <li class="nav-item"> <a class="nav-link" href="{% url 'settings_page' %}"> <i class="fa fa-cog"></i> Personal Settings </a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'exit_page' %}"> <i class="fas fa-running"></i> Logout </a> </li>
      </ul>
    </div>
  </div>
</nav>
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <div class="col">
          <h1 class="display-3 text-white">Investment plans</h1>
        </div>

        <!-- Form -->

        <!-- User -->
      <ul class="navbar-nav align-items-center d-none d-md-flex">
        <li class="nav-item dropdown"> <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media align-items-center"> <span class="avatar avatar-sm rounded-circle"> <img alt="Image placeholder" src="{% static 'img/react.jpg' %}"> </span>
            <div class="media-body ml-2 d-none d-lg-block"> <span class="mb-0 text-sm  font-weight-bold notranslate">{{ user.username|default:'Guest' }}</span> </div>
          </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <a href="{% url 'account_page' %}" class="dropdown-item"> <i class="fa fa-user"></i> <span>My profile</span> </a> <a href="{% url 'settings_page' %}" class="dropdown-item"> <i class="fa fa-cog" aria-hidden="true"></i> <span>Settings</span> </a> <a href="{% url 'stats_page' %}" class="dropdown-item"> <i class="fa fa-calendar-alt"></i> <span>Statistics</span> </a> <a href="{% url 'contacts_page' %}" class="dropdown-item"> <i class="fa fa-life-ring"></i> <span>Support</span> </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'exit_page' %}" class="dropdown-item"> <i class="fas fa-running"></i> <span>Logout</span> </a> </div>
        </li>
      </ul>
      </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-9 pt-7 pt-md-8">

      <!-- Mask -->
      <div class="container-fluid d-flex align-items-center mt--3">
        <div class="row  col">
          <div class="col-xl-12 col-lg-12">
            <div class="card bg-default">
              <div class="card-body">
                <div class="text-white">
                  <p>In this section you can buy Plans. Profitable 
plans, which can later be converted into real money. The more expensive 
your plan, the greater your income. Proceeds will be distributed between
 the two accounts in proportion: 50% purchase Balance and 50% withdrawal
 balance.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
	  
	  <div class="col-lg-12 text-center mt-4"> 
<iframe data-aa="1328909" src="//ad.a-ads.com/1328909?size=468x60" scrolling="no" style="width:468px; height:60px; border:0px; padding:0; overflow:hidden" allowtransparency="true" oz7o138jx=""></iframe>
<iframe data-aa="1328909" src="//ad.a-ads.com/1328909?size=468x60" scrolling="no" style="width:468px; height:60px; border:0px; padding:0; overflow:hidden" allowtransparency="true" oz7o138jx=""></iframe>
</div>
	  
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--8">
      <div id="rate_click" class="row">
        <div class="col-xl-12">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My profit</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="text-center">
                        <h3 id="SborHead">Earn: <span class="fas fa-coins notranslate" id="Sbor"> {{ profile.profit|floatformat:3 }}</span></h3>
                      <input type="hidden" id="last_sbor" value="808429">
                      <div class="h4 font-weight-300" id="profit">Current profit: <i class="fas fa-coins"></i> {{ profile.per_hour|floatformat:2 }}/Hour</div>
                      <form action="{% url 'plans_page' %}" id="collecteorm" method="post">
                        {% csrf_token %}
                        <button class="btn btn-default" id="collect-btn" type="submit">
                          <span class="btn-inner--icon"><i class="fa fa-coins"></i></span>
                          <span class="btn-inner--text">Collect money</span>
                        </button>
                      </form>
                  <script type="text/javascript">
                        var m = 0;
                        var collect = false;
                        window.setInterval(function(){
                            m += 1;
                        }, 1000);
                      $(document).on("submit", "#collectForm", function(e){
                            e.preventDefault();
                            var form = $(this).serializeArray();
                            form.push({name: "collect"});
                            $.ajax({
                                url: '{% url "plans_page" %}',
                                type: "POST",
                                data: form,
                                dataType: "json",
                                header: {"X-CSRFToken": '{% csrf_token %}'},
                                success: function(response){
                                    var success = response["success"]
                                    if ({{pcs}} == 0){
                                        e.preventDefault();
                                        var notify = $.notify('<span data-notify="icon" class="fa fa-bell"></span> <strong>Error </strong><span data-notify="message">| Before collecting money please buy a plan</span>', {
                                          type: 'danger',
                                          allow_dismiss: true,
                                          animate: {
                                            enter: 'animated fadeInRight',
                                            exit: 'animated fadeOutRight'
                                          }
                                        });
                                    }else if(success){
                                        if (m>=60){
                                            collect = false;
                                            m = 0;
                                        }
                                        if(collect){
                                            var notify = $.notify('<span data-notify="icon" class="fa fa-bell"></span> <strong>Error </strong><span data-notify="message">| Collect no more than 1 time in 10 minutes.</span>', {
                                              type: 'danger',
                                              allow_dismiss: true,
                                              animate: {
                                                enter: 'animated fadeInRight',
                                                exit: 'animated fadeOutRight'
                                              }
                                            });
                                        }else{
                                            collect = true;
                                            var notify = $.notify('<span data-notify="icon" class="fa fa-bell"></span> <strong>Error </strong><span data-notify="message">| You have successfully collected</span>', {
                                              type: 'success',
                                              allow_dismiss: true,
                                              animate: {
                                                enter: 'animated fadeInRight',
                                                exit: 'animated fadeOutRight'
                                              }
                                            });
                                            document.getElementById("Sbor").innerHTML = ' '+response.profit;
                                            if(response.profit==0){
                                                document.getElementById("Sbor").innerHTML += ".000";
                                            }
                                            document.getElementById("progressbar").style = "width: 0";
                                            document.getElementById("progressbar").setAttribute("aria-valuenow", "25");
                                            document.getElementById("progressbar").setAttribute("class", "progress-bar bg-success");
                                            document.getElementById("pb").innerHTML = " <i class='fas fa-coins'></i>  "+parseFloat(response.pb).toFixed(2);
                                          {% for i, maxprof in sbori %}
                                            document.getElementById("Sbor{{i}}").innerHTML = "0.00/"+parseFloat({{maxprof}}).toFixed(2);
                                          {% endfor %}
                                        }
                                    }
                                },
                                fallure: function(error){
                                    var notify = $.notify('<span data-notify="icon" class="fa fa-bell"></span> <strong>Error </strong><span data-notify="message">| '+error+'</span>', {
                                      type: 'danger',
                                      allow_dismiss: true,
                                      animate: {
                                        enter: 'animated fadeInRight',
                                        exit: 'animated fadeOutRight'
                                      }
                                    });
                                }
                            });
                        });
                 </script>
                      <br />
                    {% if max_profit <= 50 %}
                      <div id="relax" class="progress">
                          <div class="progress-bar bg-success" role="progressbar" id="progressbar" style="width: {{max_profit}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    {% elif 50 < max_profit < 100 %}
                      <div id="relax" class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" id="progressbar" style="width: {{max_profit}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      {% elif max_profit >= 100 %}
                      <div id="relax" class="progress">
                      <div class="progress-bar bg-danger" role="progressbar" id="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    {% endif %}
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div id="show_table" class="row">

          {% for plan, p, mp, pcs in plans %}
          <div id="plan{{forloop.counter}}" class="col-xl-4 col-lg-6 mt-4">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0 text-warning"><span class="fa fa-shopping-bag"></span> Plan {{plan.id}}</h3>

                    </div>
                    <div class="col-4 text-right">${{plan.price_in_dollor}}</div>
                  </div>
                </div>
                <div class="card-body">

                  <div class="row">
                    <div class="col-lg-12">
                      <div>
                        <label class="form-control-label">Price:</label>
                        <span class="float-right">{{plan.price}} coins</span>
                      </div>
                      <div>
                        <label class="form-control-label">Per hour:</label>
                        <span class="float-right"><span class="fas fa-coins"></span> {{plan.per_hour}}</span>
                      </div>
                      <div>
                        <label class="form-control-label">Per day:</label>
                        <span class="float-right"><span class="fas fa-coins"></span> {{plan.per_day}}</span>
                      </div>
                      <div>
                        <label class="form-control-label">Per month:</label>
                        <span class="float-right"><span class="fas fa-coins"></span> {{plan.per_month}}</span>
                      </div>
					  <div>
                        <label class="form-control-label">Life time:</label>
                        <span class="float-right">Unlimited</span>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                      <form action="{% url 'plans_page' %}" id="buyplanForm{{forloop.counter}}" method="post">
                        {% csrf_token %}
                        <button class="btn fas fa-shopping-cart btn-3 btn-primary" type="submit">
                        <span class="btn-inner--icon"><i class="tim-icons icon-bag-17"></i></span>
                        <span class="btn-inner--text">Buy</span>
                      </button>
                    </form>
                  <script type="text/javascript">
                      $(document).on("submit", "#buyplanForm{{forloop.counter}}", function(e){
                            e.preventDefault();
                            var form = $(this).serializeArray();
                            form.push({name: "{{plan.id}}"});
                            $.ajax({
                                url: '{% url "plans_page" %}',
                                type: "POST",
                                data: form,
                                dataType: "json",
                                header: {"X-CSRFToken": '{% csrf_token %}'},
                                success: function(response){
                                    var success = response["success"]
                                    if ({{profile.purchase_balance}} >= {{plan.price}}){
                                        var notify = $.notify('<span data-notify="icon" class="fa fa-bell"></span> <strong>Successfully  </strong><span data-notify="message">|  You have Purchased Plan {{plan.id}}</span>', {
                                          type: 'success',
                                          allow_dismiss: true,
                                          animate: {
                                            enter: 'animated fadeInRight',
                                            exit: 'animated fadeOutRight'
                                          }
                                        });
                                        document.getElementById("Sbor").innerHTML = ' '+parseFloat(response.profit).toFixed(3);
                                        document.getElementById("pcs{{plan.id}}").innerHTML = response.pcs+" pcs";
                                        document.getElementById("Sbor{{plan.id}}").innerHTML = parseFloat(response.p).toFixed(2)+"/"+parseFloat(response.mp).toFixed(2);
                                        document.getElementById("pb").innerHTML = " <i class='fas fa-coins'></i>  "+parseFloat(response.pb).toFixed(2);
                                        document.getElementById("profit").innerHTML = 'Current profit: <i class="fas fa-coins"></i> '+parseFloat(response.ph).toFixed(2)+'/Hour';
                                    }else{
                                        var notify = $.notify('<span data-notify="icon" class="fa fa-bell"></span> <strong>Error </strong><span data-notify="message">| You do not have enough funds in your Purchase Balance</span>', {
                                          type: 'danger',
                                          allow_dismiss: true,
                                          animate: {
                                            enter: 'animated fadeInRight',
                                            exit: 'animated fadeOutRight'
                                          }
                                        });
                                    }
                                },
                                fallure: function(error){
                                    var notify = $.notify('<span data-notify="icon" class="fa fa-bell"></span> <strong>Error </strong><span data-notify="message">| '+error+'</span>', {
                                      type: 'danger',
                                      allow_dismiss: true,
                                      animate: {
                                        enter: 'animated fadeInRight',
                                        exit: 'animated fadeOutRight'
                                      }
                                    });
                                }
                            });
                        });
                 </script>
                  </div>

                  <hr class="my-4">

                  <div class="row">
                    <div class="col-lg-12">
                      <div>
                        <label class="form-control-label">Purchased:</label>
                        <span class="float-right" id="pcs{{plan.id}}">{{ pcs }} pcs</span>
                      </div>
                      <div "sbordiv{{plan.id}}">
                        <label class="form-control-label">My Plan:</label>
                        <span class="float-right notranslate" id="Sbor{{plan.id}}">{{ p|floatformat:2 }}/{{ mp|floatformat:2 }}</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer mt-4">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted"> © 2020 <a href="{% url 'home_page' %}" class="font-weight-bold ml-1">ArgonClick</a> </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item"> <a href="{% url 'terms_page' %}" class="nav-link">Terms</a> </li>
              <li class="nav-item"> <a href="{% url 'about_page'%}" class="nav-link">About Us</a> </li>
              <li class="nav-item"> <a href="{% url 'contacts_page' %}" class="nav-link">Contacts</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>

{% compress js %}
<script src="{% static 'frontend/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'frontend/bootstrap.js' %}" type="text/javascript" charset="utf-8"></script>

<script src="{% static 'frontend/clipboard.js' %}" type="text/javascript" charset="utf-8"></script>

<script src="{% static 'frontend/argon-dashboard.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'frontend/bootstrap-notify.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'frontend/bootstrap-notify_002.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'frontend/apppost.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress %}


<script type="text/javascript" language="javascript">
timerId = setInterval(function(){
    $.ajax({
        url: '{% url "plans_page" %}',
        success: function(data) {
            $('#SborHead').html($('#Sbor',data));
            document.getElementById("SborHead").innerHTML = "Earn: "+document.getElementById("SborHead").innerHTML;
            $('#relax').html($('#progressbar',data));
            $('#pbdiv').html($('#pb',data));
            document.getElementById("pbdiv").innerHTML = '<h3><i class="fas fa-shopping-cart"></i> Purchase balance</h3>'+document.getElementById("pbdiv").innerHTML;
            $('#balancediv').html($('#balance',data));
            document.getElementById("balancediv").innerHTML = '<h3><i class="fas fa-wallet"></i> Balance</h3>'+document.getElementById("balancediv").innerHTML;
            {% comment %} {% for i in a %} {% endcomment %}
                {% comment %} $('#sbordiv{{i}}').html($('#Sbor{{i}}',data)); {% endcomment %}
            {% comment %} {% endfor %} {% endcomment %}
            clearInterval(0);
        }
    });
}, 5000)

</script>

</body></html>
